* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Kanit;
}

body {
	background: url(bgimg.jpg) no-repeat center;
	background-attachment: fixed;
	background-size: cover;
	overflow-x: hidden !important;
}

/*---------------------------------------------------------NAV BAR------------------------------------------*/

.navbar-light .navbar-nav .nav-link{
	color: white;
}

.navbar-light .navbar-brand{
	color: white;
}

.navbar.scrolled {
    background: #C70039;
    transition: background 300ms;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: red;
}


/*---------------------------------------------------------HOME------------------------------------------*/

#home {
	height: 100vh;
	
	
}

.home.content {
	height: 100vh;
	margin-left: 100px;
}

.text1 {
	padding: 200px 0 0 15px;
	color: white;
	font-size: 1.5rem;

}

.text2 {
	color: #C70039;
	font-size: 3rem;
	
}

.text3 {
	color: white;
	font-size: 2rem;
}

a:any-link {
	font-size: 1.5em;
	color: white;
}

/*---------------------------------------------------------ABOUT------------------------------------------*/

#about {
	background-color: white;
	display: flex;
	}

/*#about> .row {
	margin-bottom: 100px;
}*/

#aboutheader {
	text-align: center;
	font-size: 3rem;
	margin-top: 70px;

/*	padding-top: 30px;*/
}

.img-fluid {
	padding: auto;
	
}

#aboutcontent {
	margin-top: 30px;
	/*padding-right: 100px*/;
}


/*---------------------------------------------------------PROJECT------------------------------------------*/

#projects {
/*	height: 100vh;*/
	/*padding-bottom: 50px;
	padding-top: 100px;*/
	background-color: gray;
	display: flex;
	/*background-size: cover;
	flex-direction: row;
	justify-content: space-around;*/
}

#projectheader {
	color: #C70039;
	text-align: center;
	font-size: 3em;
	margin-top: 20px;
}

/*---------------------------------------------------------CONTACT------------------------------------------*/

/*#contact {
	height: 100vh;
	padding-bottom: 50px;
	padding-top: 100px;
	color: white;
	background-image: url(contact.jpg);
	background-size: cover;*/

#contact {
	/*height: 100vh;*/
	background-color: white;
	color: black;
	background-size: cover;
	/*padding: 100px 0 50px 0;*/
}

#contactHeader {
	color: #C70039;
	text-align: center;
	margin-top: 25px;
}	

button {
	color: white !important;
	background-color: #C70039 !important;
	border: none !important;
}

/*-----------------------------------------------------------FOOTER-------------------------------------------------*/
footer {	
color: white !important;
background-color: #C70039 !important;
}

/*-----------------------------------------------------------MISC---------------------------------------------------*/

@media (max-width: 768px) {

	body {
	background: url(bgimg-ipad.jpg) no-repeat center;
	background-attachment: fixed;
	background-size: cover;
	}
	
@media (max-width: 360px) {

	body {
	background: url(bgimg-s5.jpg) no-repeat center;
	background-attachment: fixed;
	background-size: cover;
	}



